body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171717;
  color: #f0f0f0;
  min-width: 290px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
}

.brazil-flag {
  width: 45px;
  margin: -15px 0px 0px 10px;
}

.state-flag {
  width: 35px;
  height: auto;
}

.state-title {
  display: flex;
  justify-content: center;
}

.state {
  margin: 10px 0px;
}

.states {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 780px) {
  .title {
    display: flex;
    flex-direction: row;
  }

  .brazil-flag {
    margin: 0 0 0 10px;
  }
}

@media only screen and (min-width: 600px) {
  .states {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1000px) {
  .states {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1500px) {
  .states {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 2000px) {
  .states {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
