body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171717;
  color: #f0f0f0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px 50px 50px 50px;
}

.brazil-flag {
  width: 45px;
  margin: -15px 0px 0px 10px;
}

@media only screen and (min-width: 780px) {
  .title {
    display: flex;
    flex-direction: row;
  }

  .brazil-flag {
    margin: 0 0 0 10px;
  }
}
